.App {
  background: linear-gradient(
    178.1deg,
    rgb(60, 55, 106) 8.5%,
    rgb(23, 20, 69) 82.4%
  );

  margin: 10px auto;
  padding: 30px 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 7px 7px 12px;
  color: #f5f5f5;
  text-align: center;
  border-radius: 10px;
  width: 70%;
}

@media (max-width: 576px) {
  .App .CurrentCity {
    font-size: 10px;
  }
}

.App .CurrentCity {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 20px 0;
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
}
