.FeelsHumWind,
.TodaysWeather {
  font-size: 17px;
  text-align: left;
}

.WeatherIcon {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.WeatherTemperature {
  text-align: center;
  font-size: 40px;
}
.unit {
  font-size: 20px;
  position: relative;
  line-height: 1;
  top: -20px;
}
